[Unit]
Description=PapersGPT Service (with tmux)
After=network.target

[Service]
Type=forking
ExecStart=/bin/bash -c 'source /home/admin/Kitchen/PapersGPT/.env && /home/admin/Kitchen/PapersGPT/.tmux_manager.sh papers-gpt /home/admin/Kitchen/PapersGPT start'
ExecStop=/bin/bash -c '/home/admin/Kitchen/PapersGPT/.tmux_manager.sh papers-gpt /home/admin/Kitchen/PapersGPT stop'
Restart=on-failure
RemainAfterExit=yes
User=admin
TimeoutSec=150
WorkingDirectory=/home/admin/Kitchen/PapersGPT

[Install]
WantedBy=multi-user.target